<% include partials/header %>

<h2>Edit <%= data.label %> tax</h2>

<form action="/payroll_tax/<%= data._id %>?_method=PUT" method="POST" id="theTaxForm">
  
  <input type="text" name="formfields[rate]" id="rate" value=<%= data.rate %>> %
  <input type="hidden" name="formfields[label]" value=<%= data.label %>>
  <input type="hidden" name="formfields[type]" value=<%= data.type %>>
  <input type="button" id="submitbutton" value="Submit" />

</form>

<p id="theMsg"></p>

<script type="text/javascript" src="/scripts/formvalidate_tax.js"></script>

<% include partials/footer %>